* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.top {
	position: absolute;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	padding: 1em;
	text-align: center;
}
span {
	color: white;
	padding-right: 1em;
}
button {
    padding: 0.5em;
    background: white;
    border: none;
    outline: 0;
    font-size: 1em;
    margin-left: 1em;
    cursor: pointer;
}
input[type="text"] {
    width: 25%;
    border: none;
    padding: 0.5em;
    outline: 0;
    font-size: 1em;
}